body {
    padding-left: 100px;
    padding-right: 100px;
}

h1 a, h2 a {
	color: #C25100;
	font-family: 'Lato';
}

.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding-bottom: 0;
}

.page-footer {
    bottom: 0;
    position: fixed;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-weight: bolder;
    text-align: left;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lato', cursive;
}

.date {
    color: #828282;

}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: left;
}

.btn-default,
.btn-default:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-default:hover {
    color: #FFFFFF;
    background-color: #C25100;
}

img {
    width: 400px;
    height: 300px;
    object-fit: contain;
    display: block;
}

.imgdetail {
    width: 400px;
    height: 300px;
}

.navbar-brand {
    float: center;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}


/* .navbar-nav > li{
    padding-left:3px;
    padding-right:3px;
    padding-top:0px;
    padding-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px; */

  /* } */

  /* .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto; */